<div class="container" [@fadeIn]>
  <div class="col-lg-6">
    <div class="jumbotron">
      <h3>{{title}}</h3>
      <div class="alert alert-success" *ngIf="status">
        Datos actualizados correctamente.
      </div>
      <p class="alert alert-danger" *ngIf="isError">{{ mensajeError }}</p>
      <form #frmEditProduct="ngForm" class="login-container" *ngIf="product" (ngSubmit)="guardar()">
        <p>
          <input [disabled]="true" type="text" class="form-control" name="codigo" placeholder="Codigo" #codigo="ngModel" [(ngModel)]="product.codigo" required />           
          <span *ngIf="!codigo.valid && codigo.touched">El codigo es requerido</span> 
        </p>
        <p>
          <input type="text" class="form-control" name="name" placeholder="Nombre" #name="ngModel" [(ngModel)]="product.name" required />           
          <span *ngIf="!name.valid && name.touched">El nombre es requerido</span> 
        </p>
        <p>
          <input type="text" class="form-control" name="category" placeholder="Categoria" #category="ngModel" [(ngModel)]="product.category" required />           
          <span *ngIf="!category.valid && category.touched">La categoria es requerida</span> 
        </p>
        <p>
          <input type="text" class="form-control" name="price" placeholder="Precio" #price="ngModel" [(ngModel)]="product.price" required />           
          <span *ngIf="!price.valid && price.touched">El precio es requerido</span> 
        </p>
        <p>
          <input type="text" class="form-control" name="cantidad" placeholder="Cantidad" #cantidad="ngModel" [(ngModel)]="product.cantidad" required />           
          <span *ngIf="!cantidad.valid && cantidad.touched">La cantidad es requerida</span> 
        </p> 
        <div class="image_for_edit" *ngIf="product.image && product.image != 'null'">
          <img src="{{ urlImage + '/get-image-product/' + product.image}}" >
        </div>
        <p>
          <label>Sube una foto</label>
          <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
        </p>
        <p><input type="submit" class="btn btn-primary" value="Guardar" [disabled]="!frmEditProduct.form.valid"></p>
      </form> 
    </div>
  </div>
</div>