<div class="col-lg-12">
  <h3>{{title}}</h3>

  <form action="">
    <p>
      <label>Nonbre</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label>Ape Pat:</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label>Ape Mat:</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label>Usuario:</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label>Password:</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label>Telefono:</label>
      <input type="text" class="form-control">
    </p>
    <p>
      <label>Role:</label>
      <input type="text" class="form-control">
    </p>
    <input type="submit" value="Crear usuario" class="btn btn-success">
    <!-- <a style="margin-left: 1px" class="boton_activo btn btn-success"
      [@marcar]="status" (click)="cambiarEstado(status)">
      <span *ngIf="status == 'active'">Boton activado</span>
      <span *ngIf="status == 'inactive'">Boton inactivo</span>
      </a> -->
  </form>
</div>