<div class="container" [@fadeIn]>
  <div class="col-lg-6">
    <div class="jumbotron">
      <h3>{{title}}</h3>
      <div class="alert alert-success" *ngIf="status">
        Datos actualizados correctamente.
      </div>
      <p class="alert alert-danger" *ngIf="isError">{{ mensajeError }}</p>
      <form #frmEditCategory="ngForm" class="login-container" *ngIf="category" (ngSubmit)="guardar()">        
        <p>
          <input type="text" class="form-control" name="name" placeholder="Nombre" #name="ngModel" [(ngModel)]="category.name" required />           
          <span *ngIf="!name.valid && name.touched">El nombre es requerido</span> 
        </p>
        <p>
          <input type="text" class="form-control" name="description" placeholder="Descripción" #description="ngModel" [(ngModel)]="category.description" required />           
          <span *ngIf="!description.valid && description.touched">La descripción es requerida</span> 
        </p>        
        <p><input type="submit" class="btn btn-primary" value="Guardar" [disabled]="!frmEditCategory.form.valid"></p>
      </form> 
    </div>
  </div>
</div>